@{
	ViewData["Title"] = ViewLocalizer["Tag"];
}

@model List<TagViewModel>
<a asp-area="Admin" asp-controller="Tag" asp-action="Create" class="btn btn-outline-primary">@ViewLocalizer["Create"]</a>
<br />
@if (ViewData["Message"] != null)
{
	<span class="text-danger">@ViewData["Message"]</span>
}
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Prodcut</th>
			<th>@ViewLocalizer["Delete"]</th>
			<th>@ViewLocalizer["Edit"]</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>
					@foreach (var mod in item.Products)
					{
						<p>@mod.Title</p>
					}
				</td>

				<td>
					<form method="post" asp-area="Admin" asp-controller="Tag" asp-action="Delete">
						<input type="hidden" name="id" value="@item.Id" />
						<button class="btn btn-outline-danger" type="submit">@ViewLocalizer["Delete"]</button>
					</form>
				</td>
				<td><a asp-area="Admin" asp-controller="Tag" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">@ViewLocalizer["Edit"]</a></td>
			</tr>
		}
	</tbody>
</table>