@{
	ViewData["Title"] = @ViewLocalizer["List Product"];
}
@model List<Product>
<h1>@ViewLocalizer["List Product"]</h1>

<a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-outline-primary">@ViewLocalizer["Create"]</a>


<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>@ViewLocalizer["Id"]</th>
			<th>@ViewLocalizer["Title"]</th>
			<th>@ViewLocalizer["Slug"]</th>
			<th>@ViewLocalizer["Description"]</th>
			<th>@ViewLocalizer["Price"]</th>
			<th>@ViewLocalizer["Quantity"]</th>
			<th>@ViewLocalizer["Status"]</th>
			<th>@ViewLocalizer["Color"]</th>
			<th>@ViewLocalizer["Model"]</th>
			<th>@ViewLocalizer["Weight"]</th>
			<th>@ViewLocalizer["Manufacturer"]</th>
			<th>@ViewLocalizer["Brand"]</th>
			<th>@ViewLocalizer["Tags"]</th>
			<th>@ViewLocalizer["Categoriy"]</th>
			<th>@ViewLocalizer["Comments"]</th>
			<th>@ViewLocalizer["Delete"]</th>
			<th>@ViewLocalizer["Edit"]</th>
			<th>@ViewLocalizer["DEtail"]</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Title</td>
				<td>@item.Description</td>
				<td>@item.Price</td>
				<td>@item.Quantity</td>
				<td>@item.Status</td>
				<td>@item.Color</td>
				<td>@item.Model</td>
				<td>@item.Weight</td>
				<td>@item.Manufacturer</td>
				<td>@item.Brand</td>
				<td>
					@foreach (var tag in item.Tags)
					{
						<span>@tag.Name</span>
					}
				</td>
				<td>
					@if (item.Category != null)
					{
						<sapn>@item.Category.Name</sapn>
					}
					else
					{
						<sapn>Not found any category </sapn>
					}
				</td>
				<td>
					@if (item.Comments != null)
					{
						@foreach (var comment in item.Comments)
						{
							<sapn>@comment.Text </sapn>
						}
					}
					else
					{
						<sapn>Not found any comment</sapn>
					}
				</td>
				<td>
					<form asp-area="Admin" asp-controller="Prodcut" asp-action="Delete" method="post">
						<input type="hidden" name="id" value="@item.Id" />
						<button class="btn btn-outline-danger" type="submit">@ViewLocalizer["Delete"]</button>
					</form>
				</td>
				<td><a asp-area="Admin" asp-controller="Prodcut" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">@ViewLocalizer["Edit"]</a></td>
				<td><a  asp-controller="Prodcut" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-primary">@ViewLocalizer["Detail"]</a></td>
			</tr>
		}
	</tbody>
</table>	