<!DOCTYPE html>

<html lang="@ViewLocalizer["en"]" dir="@ViewLocalizer["ltr"]">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Dropdown.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Shop"]</a>
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">@ViewLocalizer["Web Page"]</a>

				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">@ViewLocalizer["Panel Admin"]</a>
						</li>
		
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Product" asp-action="Index">@ViewLocalizer["Product"]</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Brand" asp-action="Index">@ViewLocalizer["Brand"] </a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Tag" asp-action="Index">@ViewLocalizer["Tag"] </a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="User" asp-action="Index">@ViewLocalizer["User"] </a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-controller="Account" asp-action="Logout">@ViewLocalizer["exit"]</a>
						</li>
					</ul>
				</div>

				 
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">

					@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
@* 		<div class="container"> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
 *@			<partial name="_Culture">

		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
	@* @section Scripts { *@
		<partial name="_ValidationScriptsPartial.cshtml">
	@* } *@
</body>
</html>
